<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="J:/3. automation testing/day36 ---full CUCUMBER BDD(framework), passingvaluesjustlikeenviromentvariabelinpostman/Assignment answer/com.restfullbooker/src/test/java/org/restfullbooker/task_1_positive/_1_createtoken"><classes><class name="org.restfullbooker.task_1_positive._1_createtoken.RestFullBookerRequestTokenURL"><methods><include name="resfullBoookerResponseIsThere"/><include name="resfullBoookerResponseContainToken"/><include name="resfullBoookerTokenHeaderContentType"/><include name="resfullBoookerTokenBodyToken"/><include name="resfullBoookerTokenBodyJsonSchema"/></methods></class></classes></test></suite>